<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
<!--
-->
</style>

<div class="container">
	<div class="card">
  		<div class="card-header">
			<h2>学習ツール</h2>
		</div>
  		<div class="card-body">

		    <form method="post" action="masterExecution" >{% csrf_token %}
		        {{ form.errors }}

				<h2>マスタ管理</h2>
				<BR>
		        <div class="form-group">
			       	<h5>画像ラベルマスタ</h5>
		        </div>
		        <button type="submit" class="btn btn-default" name="doSearch" >検　索</button>
				<BR>
				<BR>
				<table class="table">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">選択</th>
				      <th scope="col">labelclass</th>
				      <th scope="col">labelclassname</th>
				      <th scope="col">baselabelclass</th>
				    </tr>
				  </thead>
				  <tbody>
			        {% for imagelabel in imagelabelList %}
			          <tr>
					      <td>
							<input class="form-check-input" type="radio" name="selectRadios" id="selectRadios" value={{ imagelabel.labelclass }} >
					      </td>
					      <td>{{ imagelabel.labelclass }}</td>
					      <td>{{ imagelabel.labelclassname }}</td>
					      <td>{{ imagelabel.baselabelclass }}</td>
			          </tr>
			        {% endfor %}
				  </tbody>
				</table>
				<BR>
		        <button type="submit" class="btn btn-default" name="doInsert" >新　規</button>
		        <button type="submit" class="btn btn-default" name="doEdit" >修　正</button>
		        <button type="submit" class="btn btn-default" name="doDelete" >削　除</button>

		    </form>

		</div>
	</div>
</div>

{% endblock %}
