<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
<!--
#id_sturlpath, #id_fileExtension {
    width: 280px;
    height: 32px;
}
-->
</style>

<div class="container">
    <form class="form-signin" method="post" action="execution" >{% csrf_token %}
        {{ form.errors }}

		<h2>学習ツール</h2>

        <div class="form-group">
	        <label>画像ファイル抽出機能</label>
        </div>

        <div class="form-group">
            <label>クローリング用URL ※2083文字まで</label>
            <BR>
			{{ toolsForm.sturlpath }}
        </div>

        <div class="form-group">
            <label>抽出ファイル拡張子</label>
            <BR>
			{{ toolsForm.fileExtension }}
        </div>


    </form>
</div>

{% endblock %}
