<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
<!--
-->
</style>

<script type="text/javascript">

$(function () {
	// クリックイベントでモーダル表示
	$('#doExecute').on('click', function() {
		var form = $(this).parents('form');
		$(form).submit();
		$("#hideModal").modal();
		return true;
	});

	// モーダル表示の際に中央に表示する処理
    $(".modal").on("show.bs.modal", function() {
        $(this).css("display", "block");
        var dialog = $(this).find(".modal-dialog");
        var offset = ($(window).innerHeight() - dialog.height()) / 2;
        dialog.css("margin-top", offset);
    });

});

</script>

<div class="container">
	<div class="card">
  		<div class="card-header">
			<h2>学習ツール</h2>
		</div>
  		<div class="card-body">

		    <form  method="post" action="toolsExecution" >{% csrf_token %}
				<BR>
		        <div class="form-group">
			        <h5>画像ファイル抽出機能</h5>
		        </div>

		        <div class="form-group">
		        	<h5>クローリング用URL ※2083文字まで</h5>
					{{ toolsForm.sturlpath }}
		        </div>
				<BR>
		       	<h5>抽出ファイル拡張子 ※複数選択可</h5>
		        <div class="checkbox">
			        <label>
					{{ toolsForm.fileExtension }}
					</label>
				</div>

		        <button type="button" class="btn btn-default" id="doExecute" name="doExecute" onclick="" >実　行</button>
				<BR>
				<BR>
		        <div class="form-group">
			       	<h5>実行結果</h5>
					{{ toolsForm.msg }}
		        </div>

		    </form>

		</div>
	</div>
</div>

{% endblock %}
