<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
<!--
-->
</style>

<div class="container">
    <form class="form-signin" method="post" action="toolsExecution" >{% csrf_token %}
        {{ form.errors }}

		<h2>学習ツール</h2>

        <div class="form-group">
	        <label>画像ファイル抽出機能</label>
        </div>

        <div class="form-group">
            <label>クローリング用URL ※2083文字まで</label>
            <BR>
			{{ toolsForm.sturlpath }}
        </div>

        <div class="form-group">
            <label>抽出ファイル拡張子 ※複数選択可</label>
			{{ toolsForm.fileExtension }}
        </div>

        <button type="submit" name="doExecute" >実　行</button>
<BR>
<BR>
<BR>
        <div class="form-group">
            <label>実行結果</label>
			{{ toolsForm.msg }}
        </div>

    </form>
</div>

{% endblock %}
