<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
<!--
-->
</style>

<div class="container">
	<div class="card">
  		<div class="card-header">
			<h2>学習処理と判別処理</h2>
		</div>
  		<div class="card-body">

		    <form method="post" action="topExecution" >{% csrf_token %}
		        {{ form.errors }}

				<BR>
		        <div class="form-group">
			        <h5>学習ファイルのラベル定義</h5>
		        </div>
				{{ topForm.category_1 }}
				{{ topForm.category_2 }}
				{{ topForm.category_3 }}
				<BR>
				<BR>
				<BR>
		        <div class="form-group">
			        <h5>データフォルダ ※該当フォルダまでのフルパス記載</h5>
					{{ topForm.dataFolder }}
		        </div>
				<BR>
		        <div class="form-group">
			        <h5>ファイル指定 ※ファイル指定の場合はファイル判定を優先</h5>
				    <input type="file" name="testFile" class="form-control-file" >
				    <!-- file属性にvalueはセットできない -->
		        </div>
				<BR>
				<BR>
		        <h5>処理種別</h5>
		        <div class="form-check form-check-inline">
					{{ topForm.exOp }}
				</div>
				<BR>
		        <button type="submit" class="btn btn-default" name="doExecute" >実　行</button>
				<BR>
				<BR>
		        <div class="form-group">
			        <h5>実行結果</h5>
					{{ topForm.msg }}
		        </div>

		    </form>

		</div>
	</div>
</div>

{% endblock %}
