<!doctype html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <form class="form-signin" method="post" action=execution >{% csrf_token %}
        {{ form.errors }}

        <div class="form-group">
            <label>データフォルダ ※該当フォルダまでのフルパス記載</label>
            <input type="text" name="dataFolder" class="form-control" value={{ dataFolder }} >
        </div>

		{{ topForm.category_1 }}
		{{ topForm.category_2 }}
		{{ topForm.category_3 }}

<BR>
<BR>
<BR>
<BR>
<BR>
        <div class="form-group">
		    <label>単一テストファイル指定 ※単一ファイル指定時は指定ファイルテストを優先</label>
		    <input type="file" name="testFile" class="form-control-file" >
		    <!-- file属性にvalueはセットできない -->
        </div>
<BR>
<BR>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="exOp" id="train" value="1" required checked="checked" >
		  <label class="form-check-label" for="train">訓練</label>
		</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="exOp" id="test" value="2" required >
		  <label class="form-check-label" for="test">テスト</label>
		</div>

        <button type="submit" name="doExecute" >実　行</button>

        <div class="form-group">
            <label>実行結果</label>
			<textarea name="msg" class="form-control" rows="3" readonly >{{ msg }}</textarea>
        </div>

    </form>
</div>

{% endblock %}
